<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/AnthonyCardwell">Anthony</a>. A young man on a mission to broaden his horizon by attending a prestigious coding bootcamp. This bootcamp has taught him many things including how to build a webpage from scratch, including the one you're looking at right now.
  </p>
  <br />
  <p>
    He was merely just a manager at a pizza establishment just barely scrapping by when he recieved a call, letting him know he had been accepted to a bootcamp offered by Vanderbilt. From there he would learn various degrees of coding to help push him forward, to make a better living for him and his family.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <img src="me.jpg" />
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Anthony Cardwell</h2>
      <br />
      <p>
       Anthony Cardwell is a student at Vandebilt's bootcamp program, he had no prior knowledge to the subject, but he is learning all of the things that will make him succesful in the industry.
      </p>
    </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />