<div class="col-10 offset-1">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/AnthonyCardwell">Anthony</a>. A young man on a mission to broaden his horizon by attending a prestigious coding bootcamp. This bootcamp has taught him many things including how to build a webpage from scratch, including the one you're looking at right now.
  </p>
  <br />
  <p>
    He was merely just a manager at a pizza establishment just barely scrapping by when he recieved a call, letting him know he had been accepted to a bootcamp offered by Vanderbilt. From there he would learn various degrees of coding to help push him forward, to make a better living for him and his family.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <img src="me.jpg" />
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ken Mazaika</h2>
      <br />
      <p>
        Ken Mazaika is a web developer and Ruby on Rails contributor. Previously he was a tech lead at Where.com (<a target="_blank" href="http://bostinno.streetwise.co/2011/04/13/nearbuys-where-rolls-out-daily-deals/">acquired by PayPal</a>) and a member of the PayPal/eBay development team in Boston. In a previous life he turned a <a target="_blank" href="http://yourfreequotes.com/">health insurance quotes generator</a> from a $400/day web application into a $40,000/day business.
      </p>
    </div>
</div>